# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env

# Data files
data/yelp_academic_dataset_checkin.json
data/yelp_academic_dataset_review.json
data/yelp_academic_dataset_tip.json
data/yelp_academic_dataset_user.json
data/yelp_academic_dataset_business.json
data/Dataset_User_Agreement.pdf


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/